{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Walshe Full Stack Developer</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/johnwalshesmall-modified.jpg' %}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> 
     <link rel="stylesheet" href="{% static 'css/aos.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/line-awesome.min.css' %}"> 
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container flex-lg-column">
            <a class="navbar-brand mx-lg-auto mb-lg-4" href="#">
                <span class="h3 fw-bold d-block d-lg-none">John Walshe</span>
		<img src="{% static 'images/johnwalshesmall-modified.jpg' %}" class="d-none d-lg-block rounded-circle" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">

                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Activity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
			    <a class="nav-link" href="{% url 'jobs_searched' %}">JobSearches</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- //NAVBAR -->

    <!-- CONTENT WRAPPER -->
    <div id="content-wrapper">

        <!-- HOME -->
        <section id="home" class="full-height px-lg-5">
        <!-- Login prompt -->
            {% block content %}
	{% if user.is_authenticated %}
	Hi {{ user.username }}!
	<form action="{% url 'logout' %}" method="post">
	  {% csrf_token %}
	  <button type="submit">Log Out</button>
	</form>
	{% else %}
	<p>You are not logged in</p>
	<a href="{% url 'login' %}">Log In</a>
	{% endif %}
	{% endblock %}
		<!-- End login prompt -->


         <div class="container">	
                <div class="row">
                    <div class="col-lg-10">
                        <h1 class="display-4 fw-bold" data-aos="fade-up">I'M A <span class="text-brand">Full Stack Software Developer</span> FROM DUBLIN, IRE</h1>
                        <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">I am John Walshe, And I develop and maintain high quality websites</p>
                        <div data-aos="fade-up" data-aos-delay="600">
                            <a href="#work" class="btn btn-brand me-3">Explore My Work</a>
                            <a href="#" class="link-custom">Call: (+353) 876470692</a>

                        </div>
                    </div>
                </div>
            </div>
<!-- <div class="m-4"> -->
  	<!-- <p><strong>Note:</strong> By default toasts will automatically hide if you do not set autohide to false.</p> -->
	<!-- <button type="button" class="btn btn-primary" id="myBtn">Show Toast</button> -->
    
    <!-- <div class="toast" id="myToast"> -->
    <!--     <div class="toast-header"> -->
    <!--         <strong class="me-auto"><i class="bi-gift-fill"></i> We miss you!</strong> -->
    <!--         <small>11 mins ago</small> -->
    <!--         <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
    <!--     </div> -->
    <!--     <div class="toast-body"> -->
    <!--         It's been a long time since you visited us. We've something special for you. <a href="#">Click here!</a> -->
    <!--     </div> -->
    <!-- </div> -->
        </section>
        <!-- //HOME -->

        <!-- SERVICES -->
        <!-- <section id="services" class="full-height px-lg-5"> -->
        <!--     <div class="container"> -->

        <!--         <div class="row pb-4" data-aos="fade-up"> -->
        <!--             <div class="col-lg-8"> -->
        <!--                 <h6 class="text-brand">SERVICES</h6> -->
        <!--                 <h1>Services That I Provide</h1> -->
        <!--             </div> -->
        <!--         </div> -->

        <!--         <div class="row gy-4"> -->

        <!--             <div class="col-md-4" data-aos="fade-up"> -->
        <!--                 <div class="service p-4 bg-base rounded-4 shadow-effect"> -->
        <!--                     <div class="iconbox rounded-4"> -->
        <!--                         <i class="las la-feather"></i> -->
        <!--                     </div> -->
        <!--                     <h5 class="mt-4 mb-2">UX Design</h5> -->
        <!--                     <p>I craft high-performing and delightful experiences tailored and conversion-focused</p> -->
        <!--                     <a href="#" class="link-custom">Read More</a> -->
                        <!-- </div> -->
                    <!-- </div> -->

                    <!-- <div class="col-md-4" data-aos="fade-up" data-aos-delay="300"> -->
                        <!-- <div class="service p-4 bg-base rounded-4 shadow-effect"> -->
                        <!--     <div class="iconbox rounded-4"> -->
                        <!--         <i class="las la-pencil-ruler"></i> -->
                        <!--     </div> -->
                        <!--     <h5 class="mt-4 mb-2">Branding</h5> -->
                        <!--     <p>I craft high-performing and delightful experiences tailored and conversion-focused</p> -->
                        <!--     <a href="#" class="link-custom">Read More</a> -->
                        <!-- </div> -->
                    <!-- </div> -->

                    <!-- <div class="col-md-4" data-aos="fade-up" data-aos-delay="600"> -->
                        <!-- <div class="service p-4 bg-base rounded-4 shadow-effect"> -->
                        <!--     <div class="iconbox rounded-4"> -->
                        <!--         <i class="las la-laptop-code"></i> -->
                        <!--     </div> -->
                        <!--     <h5 class="mt-4 mb-2">Web Designing</h5> -->
                            <!-- <p>I craft high-performing and delightful experiences tailored and conversion-focused</p> -->
                            <!-- <a href="#" class="link-custom">Read More</a> -->
                        <!-- </div> -->
                    <!-- </div> -->

                <!-- </div> -->

            <!-- </div> -->
        <!-- </section> -->
        <!-- <!-1- SERVICES -1-> -->

        <!-- WORK -->
        <section id="work" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">WORK</h6>
                        <h1>My Recent Projects</h1>
                    </div>
                </div>

                <div class="row gy-4">

                    <div class="col-md-6" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
				    <img class="rounded-4" src="{% static 'images/mn-landingpg.jpg' %}" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Online Plant Store</h4>
                                <p>Online plant store built using django. Full crud functionality. Incorporates stripe, emails and checkout</p>
                                <a href="https://github.com/JWalshe86/McPlantsNavan/" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
				    <img class="rounded-4" src="{% static 'images/nwn.jpg' %}" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Online Mobile Pizzeria</h4>
                                <p>Website built using django, python, html, scss, postgres. Full CRUD functionality. Ability to book mobile pizzeria. </p>
                                <a href="#" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
				    <img class="rounded-4" src="{% static 'images/mmg.png' %}" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Card Matching Game</h4>
                                <p>Card matching game built using javascript, html and css.</p>
                                <a href="#" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
				    <img class="rounded-4" src="{% static 'images/pizzasystem.png' %}" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <h4>Backend python order system</h4>
                                <p>Project built solely using python. Links to google sheets. Users ability to order pizzas. </p>
                                <a href="#" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- //WORK -->

        <!-- ABOUT -->
        <section id="about" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">ABOUT</h6>
                    </div>
                </div>

                <div class="row gy-5">
                    <div class="col-lg-6">

                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Education</h3>
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Diploma in Full Stack Software Development</h4>
                                    <p class="text-brand mb-2">Code Institute 2023-2024</p>
                                    <p class="mb-0">Mastered front-end software dev and essentinal UX techniques
				    Gained proficiency in CSS, JavaScript, and Python. Acquired knowledge required 
				    to interact with databases and used key tools like Bootstrap, Django, Jquery and Pytest.</p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Masters of Applied Psychology</h4>
                                    <p class="text-brand mb-2">Trinity College, Dublin (2012 - 2014)</p>
                                    <p class="mb-0">Building on my BSC in Psychology, I learnt to apply psychological
				    theory to real world examples. My thesis explored the relationship between staff' personalities,
				    thought processes and levels of burnout</p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Applied Social Studies</h4>
                                    <p class="text-brand mb-2">Open Training College (2015 - 2017)</p>
                                    <p class="mb-0">Building on my experience working in social settings, this
				    degree thought me the fundamental theories surrounding supporting those with
				    greater needs. It also allowed me to take on the legal management position:
				    Person In Charge</p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiance</h3>
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Full Stack Software Developer</h4>
                                    <p class="text-brand mb-2">2Toucans (2023 - 2024)</p>
                                    <p class="mb-0">Digital agency offering digital design, web development,
				    marketing, training. Specialised in use of PHP and docker.</p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Thermographer</h4>
                                    <p class="text-brand mb-2">CIS/Snughome.ie (2021 - 2023)</p>
                                    <p class="mb-0">Utilized infrared imaging technology for property
				    inspections, producing detailed reports. Conducted quality tests, 
				    updated drawings, and liaised with stakeholders for transparency 
				    in image/tests. I also gained a Diploma (Level 7) in Health & Safety,
				    which deems me qualified for Health & Safety roles. 
				    </p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h4>Healthcare Professional</h4>
				    <p class="text-brand mb-2">Healthcare 2011-2022</p>
                                    <p class="mb-0">Worked in several roles: Social Care Worker, Assistant Psychologist,
				    Independent Advocate, Person In Charge (Manager). I was also a member of the Irish Association
				    for Supported Employment and gained in a certificate in Supported Employment.</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- //ABOUT -->

        <!-- REVIEWS -->
        <!-- <section id="reviews" class="full-height px-lg-5"> -->
        <!--     <div class="container"> -->

        <!--         <div class="row pb-4" data-aos="fade-up"> -->
        <!--             <div class="col-lg-8"> -->
        <!--                 <h6 class="text-brand">REVIEWS</h6> -->
        <!--                 <h1>What our subscribers say</h1> -->
        <!--             </div> -->
        <!--         </div> -->

        <!--         <div class="row gy-4"> -->

        <!--             <div class="col-md-4" data-aos="fade-up"> -->

        <!--                 <div class="review shadow-effect bg-base p-4 rounded-4"> -->
        <!--                     <div class="text-brand h5"> -->
        <!--                         <i class="las la-star"></i> -->
        <!--                         <i class="las la-star"></i> -->
        <!--                         <i class="las la-star"></i> -->
        <!--                         <i class="las la-star"></i> -->
                                <!-- <i class="las la-star"></i> -->
                            <!-- </div> -->
                            <!-- <p class="my-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quae facilis fugiat molestias ab illum excepturi, qui optio modi asperiores, delectus maiores!</p> -->
                            <!-- <div class="person"> -->
                                <!-- <h5 class="mb-0">Jon Doe</h5> -->
                                <!-- <p class="mb-0">Twitter</p> -->
                            <!-- </div> -->
                        <!-- </div> -->

                    <!-- </div> -->

                    <!-- <div class="col-md-4" data-aos="fade-up" data-aos-delay="300"> -->

                        <!-- <div class="review shadow-effect bg-base p-4 rounded-4"> -->
                            <!-- <div class="text-brand h5"> -->
                                <!-- <i class="las la-star"></i> -->
                                <!-- <i class="las la-star"></i> -->
                                <!-- <i class="las la-star"></i> -->
                                <!-- <i class="las la-star"></i> -->
                                <!-- <i class="las la-star"></i> -->
                            <!-- </div> -->
                            <!-- <p class="my-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quae facilis fugiat molestias ab illum excepturi, qui optio modi asperiores, delectus maiores!</p> -->
                            <!-- <div class="person"> -->
                            <!--     <h5 class="mb-0">Jon Doe</h5> -->
                            <!--     <p class="mb-0">Twitter</p> -->
                            <!-- </div> -->
                        <!-- </div> -->

                    <!-- </div> -->

                    <!-- <div class="col-md-4" data-aos="fade-up" data-aos-delay="600"> -->

                        <!-- <div class="review shadow-effect bg-base p-4 rounded-4"> -->
                            <!-- <div class="text-brand h5"> -->
                            <!--     <i class="las la-star"></i> -->
                            <!--     <i class="las la-star"></i> -->
                            <!--     <i class="las la-star"></i> -->
                            <!--     <i class="las la-star"></i> -->
                            <!--     <i class="las la-star"></i> -->
                            <!-- </div> -->
                            <!-- <p class="my-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel quae facilis fugiat molestias ab illum excepturi, qui optio modi asperiores, delectus maiores!</p> -->
                            <!-- <div class="person"> -->
                            <!--     <h5 class="mb-0">Jon Doe</h5> -->
                            <!--     <p class="mb-0">Twitter</p> -->
                            <!-- </div> -->
                        <!-- </div> -->

                    <!-- </div> -->

                <!-- </div> -->

            <!-- </div> -->
        <!-- </section> -->
        <!-- //REVIEWS -->

        <!-- BLOG -->
        <section id="blog" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">Activity</h6>
                        <h1>My Latest Posts</h1>
                    </div>
                </div>

                <div class="row gy-4">

                    <div class="col-md-4" data-aos="fade-up">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
				    <img class="rounded-4" src="{% static 'images/first-tmux.webp' %}" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <p class="text-brand mb-2">4 July, 2024</p>
                                <h5 class="mb-4">My First Tmux Script</h5>
                                <a href="https://medium.com/@walshejohnnyw7/my-first-tmux-script-83da7ce0ce5f" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
				    <img class="rounded-4" src="{% static 'images/timetravel.png' %}" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <p class="text-brand mb-2">9 Jul, 2024</p>
                                <h5 class="mb-4">Git 'Time Travel'</h5>
                                <a href="https://medium.com/@walshejohnnyw7/git-time-travel-6436c8f8560d" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="card-custom rounded-4 bg-base shadow-effect">
                            <div class="card-custom-image rounded-4">
				    <img class="rounded-4" src="{% static 'images/bash_aliases.png' %}" alt="">
                            </div>
                            <div class="card-custom-content p-4">
                                <p class="text-brand mb-2">28 June, 2024</p>
                                <h5 class="mb-4">Setting up Bash Aliases</h5>
                                <a href="#" class="link-custom">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- //BLOG -->

        <!-- CONTACT -->
        <section id="contact" class="full-height px-lg-5">
            <div class="container">

                <div class="row justify-content-center text-center">
                    <div class="col-lg-8 pb-4" data-aos="fade-up">
                        <h6 class="text-brand">CONTACT</h6>
                        <h1>Interested in working together? Let's talk
                        </h1>
                    </div>

                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">
                        <form action="#" class="row g-lg-3 gy-3">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" placeholder="Enter your name">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <div class="form-group col-12">
                                <input type="text" class="form-control" placeholder="Enter subject">
                            </div>
                            <div class="form-group col-12">
                                <textarea name="" rows="4" class="form-control" placeholder="Enter your message"></textarea>
                            </div>
                            <div class="form-group col-12 d-grid">
                                <button type="submit" class="btn btn-brand">Contact me</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </section>
        <!-- //CONTACT -->

        <!-- FOOTER -->
        <footer class="py-5 px-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">Designed by <a href="#" class="fw-bold">John</a></p>
                    </div>
                    <div class="col-auto">
                        <div class="social-icons">
                            <a href="https://github.com/user-attachments/files/16319802/John_Walshe_CV.pdf.2.pdf"><i class="la la-file-text-o"></i></a>
                            <a href="www.linkedin.com/in/john-walshe86"><i class="lab la-linkedin"></i></a>
                            <a href="https://github.com/JWalshe86/"><i class="lab la-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //FOOTER -->

    </div>
    <!-- //CONTENT WRAPPER -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>  
<script src="{% static 'js/aos.js' %}"></script>
   <script>
     AOS.init();
   </script>
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>
