{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Jobsearch Management</h2>
                <h5 class="text-muted">Update Jobsearch</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_jobsearch' jobsearch.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                     {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field | as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn text-white rounded-0" href="{% url 'jobs_searched' %}">Cancel</a>
                        <button class="btn text-white rounded-0" type="submit">Submit Update</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

