{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay" style='background-color: #5cc7f9;'></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Job Searches</h2>
                {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="data-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                <div class="row">
                    {% for data in display_data %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="card h-100 border-0">
                                <div class="card-body pb-0" style='background-color: #fad3b0'>
				<div class="card-footer pt-0 border-0 text-left" style='background-color: #fad3b0;'>
                                    <div class="row">
                                        <div class="col">
						<ul class='list-unstyled'>
                                            <li class="mb-0 text-left">Date: {{ data.created_at }}</li>
                                            <li class="mb-0 text-left">ORG: {{ data.organisation }}</li>
                                            <li class="mb-0 text-left">URL: {{ data.url }}</li>
                                            <li class="mb-0 text-left">CONTACT: {{ data.contact }}</li>
                                            <li class="mb-0 text-left">ROLE: {{ data.role }}</li>
                                            <li class="mb-0 text-left">TEXT USED: {{ data.text_used }}</li>
                                            <li class="mb-0 text-left">METHOD: {{ data.method }}</li>
                                            <li class="mb-0 text-left">RESPONSE: {{ data.response }}</li>
                                            <li class="mb-0 text-left">{{ data.search_imgs }}</li>
                                            <li class="mb-0 text-left">{{ data.docfile }}</li>
						</ul> 
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

