{% extends "base.html" %} {% load static %}


{% block content %}

<div class="container mt-5">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td>{{ jobdetail.id }}</td>
    </tr>
    <tr>
      <th scope="row">DATE APPLIED</th>
      <td>{{ jobdetail.created_at }}</td>
    </tr>
    <tr>
      <th scope="row">ORGANISATION</th>
      <td>{{ jobdetail.organisation }}</td>
    </tr>
    <tr>
      <th scope="row">TYPE</th>
      <td>{{ jobdetail.type }}</td>
    </tr>
    <tr>
      <th scope="row">LOCATION</th>
      <td>{{ jobdetail.location }}</td>
    </tr>
    <tr>
      <th scope="row">URL</th>
      <td>{{ jobdetail.url }}</td>
    </tr>
    <tr>
      <th scope="row">Contact</th>
      <td>{{ jobdetail.contact }}</td>
    </tr>
    <tr>
      <th scope="row">ROLE</th>
      <td>{{ jobdetail.role }}</td>
    </tr>
    <tr>
      <th scope="row">TEXT</th>
      <td>{{ jobdetail.text_used }}</td>
    </tr>
    <tr>
      <th scope="row">METHOD</th>
      <td>{{ jobdetail.method }}</td>
    </tr>
    <tr>
      <th scope="row">RESPONSE</th>
      <td>{{ jobdetail.response }}</td>
    </tr>
  </tbody>
</table>
</div>
	<div class="row">

		<p>{{ jobdetail.search_imgs }}</p>
		<p>{{ jobdetail.docfile }}</p>

	</div>

{% endblock %}
<div class="container mt-5">

</div>
