{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container mt-5">
<table class="table text-white">
  <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td>{{ jobsearch.id }}</td>
    </tr>
    <tr>
      <th scope="row">DATE APPLIED</th>
      <td>{{ jobsearch.created_at }}</td>
    </tr>
    <tr>
      <th scope="row">ORGANISATION</th>
      <td>{{ jobsearch.organisation }}</td>
    </tr>
    <tr>
      <th scope="row">TYPE</th>
      <td>{{ jobsearch.type }}</td>
    </tr>
    <tr>
      <th scope="row">LOCATION</th>
      <td>{{ jobsearch.location }}</td>
    </tr>
    <tr>
      <th scope="row">URL</th>
      <td>{{ jobsearch.url }}</td>
    </tr>
    <tr>
      <th scope="row">Contact</th>
      <td>{{ jobsearch.contact }}</td>
    </tr>
    <tr>
      <th scope="row">ROLE</th>
      <td>{{ jobsearch.role }}</td>
    </tr>
    <tr>
      <th scope="row">TEXT</th>
      <td>{{ jobsearch.text_used }}</td>
    </tr>
    <tr>
      <th scope="row">METHOD</th>
      <td>{{ jobsearch.method }}</td>
    </tr>
    <tr>
      <th scope="row">RESPONSE</th>
      <td>{{ jobsearch.response }}</td>
    </tr>
    <tr>
      <th scope="row">RESPONSE</th>
      <td>{{ jobsearch.response }}</td>
    </tr>
    <a class="btn btn-primary" href="{% url 'edit_jobsearch' jobsearch.id  %}">Edit</a>
     <a class="btn btn-warning"href="#">Delete</a>
  </tbody>
</table>
<div class="container">
		<embed class"h-100" src="/{{ jobsearch.docfile }}" width="1000vw" height='1000vh' />
		<img  class="h-100" src="/{{ jobsearch.search_imgs }}" width="500vw" height="500vh" alt="image associated with job search">

</div>
</div>


{% endblock %}
